PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=h_Si4Y9j9_S2mxUVEkqd7VVheX9g9j01
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
